<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MaxAllowedPointCountInSeries" value="200" />
    <add key="MaxAllowedSeriesCount" value="200" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="CommunicationEncryptionKey" value="{eeb306db-0477-4e30-8f72-74460875d848}"/>
    <add key="productID" value="9"/>
    <add key="productName" value="EAS Business OLAP"/>
    <add key="majorVersion" value="1"/>
    <add key="minorVersion" value="0"/>
    <add key="encriptionKey" value="AuditorX"/>
    <add key="persistenceKey" value="{60A72F2E-F5E0-48E0-A8FE-823662693382}"/>
    <add key="webServiceUrl" value="http://activation.shelterit.com.br/QlmService.asmx"/>
    <add key="qlmVersion" value="5.0.00"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <defaultProxy useDefaultCredentials="true"/>
  </system.net>
</configuration>